body{
  margin: 0;
  width: 100px;
  height: 100px;
  background-color: #D6F7FC;    
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
}

 .images{
     width: 700px;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   margin-top: 205px;
    
 }

img{
    max-width: 70%;
}

footer{
    margin-top: 560px;
    margin-left: 650px;    
}

.binico{
    background-color:  #D6F7FC;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 90px;
    height: 40px;
    border: 2px;
}
